name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Tests
        run: |
          python manage.py test
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          cluster-name: ${{ secrets.AWS_CLUSTER }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
# 각자 ECR의 repo 넣기
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: 940168446867.dkr.ecr.eu-central-1.amazonaws.com
          ECR_REPOSITORY: project
          IMAGE_TAG: django_lastest
        run: |
          docker build -t 940168446867.dkr.ecr.eu-central-1.amazonaws.com/project:django_lastest .
          docker push 940168446867.dkr.ecr.eu-central-1.amazonaws.com/project:django_lastest
# was rollout restart
      - name: was-deploy restart
        uses: Consensys/kubernetes-action@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: rollout restart deployment/was -n back-end
